extends layout

block content
  h1 #{title}

  form(method='POST' action='') 
    h3 Profession:
    div.form_group
      label(for='observed_occupation') Observed Occupation:
      input#observed_occupation.form-control(type='text', placeholder='Observation of personnel', name='observed_occupation', value=(undefined===profession ? '': profession.observed_occupation), required='true')
      label(for='service_discipline') Service Discipline:
      input#service_discipline.form-control(type='text', placeholder='Discipline of personnel', name='service_discipline', value=(undefined===profession ? '': profession.service_discipline), required='true')

    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg